<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hey there! Thanks for stopping by.</h2>
        <h2>I'm Claudia and I study Psychology, Political Science, and Computer Science at McGill University.</h2>
        <p class="lead">I am currently on the search for a summer internship in software development, UX Research, or sales and marketing.</p>
        <p class="lead">Over the past academic year, I've served as Editorial Lead for the McGill AI Society (incoming VP Communications for 2019-2020), data analyst for the McGill Peer Support Centre, a member of the data collection team for McGill NeuroTech - where we've been working to build a brain controlled wheelchair! - and a UX Researcher for eRA Rehab, where I conduct literature reviews on pain and motivation mechanisms to design the UI for a mobile app. I am also a Research Assistant for a Neurolinguistics Lab, and a web assistant for Communication Sciences lab - all on top of a full course load.</p>
        <p class="lead">Watch out for this space as I share my work and experiences from the past year!!</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
